<div *ngIf="galleryService.isGalleryAvailable">
  
  <div class="row">

      <nav class="photo-categories">
        <a *ngFor="let category of galleryService.data.categories" [routerLink]="['/photo', category]" [ngClass]="{selected: galleryService.currentCategory === category}">
          {{category | prettyPrintVariable }}
        </a>
      </nav>

      <masonry preserve-order [options]="{ horizontalOrder: true, percentPosition: true, transitionDuration: '0.5s', stagger: '0.1s' }"><!-- https://github.com/jelgblad/angular2-masonry -->
          <masonry-brick *ngFor="let photo of galleryService.photosInCategory; let i = index">
              <img id="photo-{{i}}" src='{{photo.smallSrc}}' (click)="galleryService.switchPhoto(photo)" (load)="refreshMasonry()">
              <div *ngIf="window.DEBUG_MODE" class="debug-name">{{photo.smallSrc}}</div>
          </masonry-brick>
      </masonry>

      <nav class="photo-categories bottom-photo-categories">
        <a *ngFor="let category of galleryService.data.categories" [routerLink]="['/photo', category]" [ngClass]="{selected: galleryService.currentCategory === category}"
          (click)="scrollToTop()">
          {{category | prettyPrintVariable}}
        </a>
      </nav>

  </div>
</div>
<app-photo-expander></app-photo-expander>