<div *ngIf="galleryService.isGalleryAvailable">
  category: {{galleryService.currentCategory}}
  <div class="row marketing">
      {{ galleryService.data }}
      <nav id="photoCategories">
        <a *ngFor="let category of galleryService.data.categories" [routerLink]="['/photo', category]" [ngClass]="{selected: galleryService.currentCategory === category}">
          {{category}}
        </a>
      </nav>

      <div preserve-order masonry-options="{ transitionDuration: '0.5s', stagger: '0.3s' }"><!-- http://masonry.desandro.com/options.html -->
          <div class="masonry-brick" *ngFor="let photo of galleryService.photosInCategory">
              <img id="photo-{{$index}}" src='{{photo.smallSrc}}' ng-click="switchPhoto(photo)">
          </div>
      </div> <!-- was masonry -->

      <nav id="bottomPhotoCategories">
        <a *ngFor="let category of galleryService.data.categories" [routerLink]="['/photo', category]" [ngClass]="{selected: galleryService.currentCategory === category}"
          (click)="scrollToTop()">
          {{category}}
        </a>
      </nav>

      <nav id="bottomPhotoCategories">
          <a *ngFor="let category of galleryService.data.categories" [ngClass]="{selected: galleryService.currentCategory === category}" 
              title="{{category}}" (click)="setCategory(category, true)">{{category}}</a>
      </nav>
  </div>
</div>