masonry {
    display:block;
    padding: 0px;
    margin: 10px;
    border: solid transparent 2px;
    box-sizing: border-box;
}

masonry-brick {
    margin: 0px;
    padding: 0px;
    width: 33.33%;
    border: solid transparent 4px;
    box-sizing: border-box;
}
@media (max-width: 703px) {
    masonry-brick {
        width: 50%;
  }
}
@media (max-width: 320px) {
    masonry-brick {
        width: 100%;
    }
}
masonry-brick div.debug-name {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1000;

    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
}


img {
  width:100%;
  vertical-align: middle;
  page-break-inside: avoid;
}

nav.photo-categories
{
    text-align: center;
    margin-bottom: 10px;
}
nav.photo-categories a 
{
    cursor: pointer;
    border: none;
    border-bottom: solid #444 1px;
    background: none;
    padding: 10px;

    font: 20px normal;
    color: #BBB;
    font-family: "Poiret One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}
nav.photo-categories a.selected {
    color:#862;
    pointer-events:none;
    border-bottom: solid #862 1px;
}
nav.bottom-photo-categories {
    margin-top: 20px;
}
@media (min-width: 440px) {
    nav.bottom-photo-categories a {
        border: none;
        border-top: solid #444 1px;
    }
    nav.bottom-photo-categories a.selected {
        border: none;
        border-top: solid #862 1px;
    }
}