<div class="header">
  <div class="top-navbar">
    <div class="container">
      
      <div class="navbar-header">
        <a class="navbar-header-title" href="/">Ambernay Trotter Photography</a>
      </div>

      <ul class="navbar-options">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>

    </div>
  </div>
</div>

  <router-outlet></router-outlet>

<div class="footer">
  <div class="container">
    <p>© Ambernay Trotter, 2016</p>
  </div>
</div>
